@charset "UTF-8";

@import url("/webresources/font-awesome-4.7.0/css/font-awesome.min.css");



p.info-warn {
    background-color: #e9d967;
    text-align: left;

    border-radius: 6px 6px 6px 6px;
    margin: 10px;
    padding: 10px;
}



.media-selection span.AudioModule.audio.hasAudio:after {
    content: "\0f04b";
    font-family: 'FontAwesome';
    font-size: 25px;
    position: relative;
    line-height: 50px;
    left: 2px;
    color: #0073ff;
}

.popover h2 {
    color: white;
    margin-top:0;
    margin-bottom:5px;
}

span.wotd-span:before {
    content: " - ";
   }
span.wotd-item:before {
    content: ": ";
    position: relative;
    left: -5px;
}
span.wotd-span {
    color: #0c9696;
    font-size: 14px;
}

span.wotd-item {
   font-size:20px;
   color:#3a6dcf;
   border-radius: 3px;
   background-color: rgba(0,0,0,0.1);
   margin-left: 10px;
   cursor: pointer;
}

span.AudioModule.audio.hasAudio {
    vertical-align: top;
    line-height: 18px;
    margin-right: 14px;
}


span.wotd-item .audio:after,  span.wotd-item.no-audio:after{
    content: "";
    font-family: 'FontAwesome';
    color: #29c02e;
    margin: 2px 10px;
    font-size: 16px;
    text-shadow: 0 0 5px white;
}

 span.wotd-item.no-audio:after {
    color: #c1c1c1;
}





.tag-cloud {
    span.tag-el.add-tag:hover {
        background-color: #549ae6;
        color:white;
    }
    
    span.tag-el.add-tag {
        color: #096c8c;
    }
}

ul.main>label {
    display: none;
}

ul.main {
    list-style: none;
    white-space:nowrap;
    text-align: right;
    margin: 25px;
    border-bottom: 1px dashed #008a8a;
    padding:0;
}

ul.main li {
    display:inline-block;
    margin: 5px;
    margin-left: 0;
}


ul.main button {
    float: none;
    background-color: #b5e4f9;
    border: none;
    padding: 7px 13px;
    border-radius: 3px;
}

ul.main li.active button {
    background-color: #0c9696;
    color: white;
    text-shadow: 0 0 2px rgba(0,0,0,0.4);
    font-size: 18px;
}


span.array-module.tab-3.tab {
    opacity: 0.2;
}


a.formatted_link:before {
    content: "\0f1c1";
    display: inline-block;
    font-family: 'FontAwesome';
    margin-right: 5px;
    color: #750106;
 }



a.formatted_link {
    color: #3a6dcf;
    font-weight: 400;
}

span.document.noIcon, button.document.noIcon {
    background: #25adaa;
    position: relative;
    float: revert;
    padding: 10px 40px;
    z-index: inherit;
    line-height: 24px;
    color: white;
    font-size: 19px;
    margin: 5px;
    float: right;
    font-weight:100;
    border: none;
    border-radius: 3px;
}


.iw-content a.document-link {
    display: none;
}

.media-item{
    
    .image, .document, .audio, .video {
        width: 100%;
        height: 100%;
        display: inline-block;
        background-repeat: no-repeat;
        border-radius: 5px;
        background-size: contain;
        background-position: center;
    }
}


.media-selection.ToolbarBottom {
    height: 55px;
    margin-top: 5px;
}


span.video.noIcon:after, span.document.noIcon, button.video.noIcon:after, button.document.noIcon {
    background-color: #086c8c;
}

.infowindow_tab {
    position: relative;
    top: 0;
    display: block;
    height: 30px;
}

.iw-tab>{
     min-width:400px;
}

.iw-tab>*, .iw-tab button {
    display: inline-block;
   
}

.iw-tab .tab, .iw-tab button {
   background-color:#aebace;
   margin: 2px;
    padding: 5px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    color: #142442;
    text-shadow: 0 0 4px rgb(255 255 255 / 50%);
    box-shadow: 0 0 4px rgb(0 0 0 / 20%);

}

.iw-tab .tab.active{
   background-color:#698dca;
   
}


.iw-tab>div{
    float:right;
    margin-right:20px
}

.iw-title span {
    font-size: 16px;
    font-weight: bold;
    color: #2a4578;
    padding: 10px 0;
    display: inline-block;
}
.header{
    display: block;
    height: 120px;
    padding: 20px;
    box-sizing: content-box;
}


.header span.ImageModule.image {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-size: contain;
    float: left;
    margin-right: 20px;
    margin-top: -13px;
    background-repeat: no-repeat;
}


.left-top.ltr.UIMapControl {
    margin-left: 10px;
}

.left-top.ltr.UIMapControl:first-child {
    margin-top: 70px;
}

.right-top.rtl.UIMapControl {
    margin-top: 70px;
    margin-right: 0;
}


.right-center.rtl {
    margin-right: 12px;
    transition: margin-right .3s ease-in-out;
}
.sidepanel-expanded-right .right-center.rtl {
    margin-right: 400px;
    
}

.SideBarWidget.right>div.toggle-button {
    background-image: none;
}

<?php $icons=GetWidget('icons');?>


.SideBarWidget.right.collapsed > .toggle-button{
    
    background-image:url("<?php echo UrlFrom($icons->getParameter('userTabIcon')[0]);?>?thumb=x>64y>64&tint=rgb(255,255,255)");
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}


.sidepanel-expanded-right .toggle-button:before {
    content: "\f00d";
    font-family: 'FontAwesome';
    text-align: center;
    width: 38px;
    position: absolute;
    top: 0;
    left: 0;
    height: 38px;
    line-height: 40px;
    color: #f0f0f0;
    font-size: 25px;
    /* transition:font-size 0.1s ease-in-out; */

 }
 .sidepanel-expanded-right .toggle-button:hover:before{
     font-size:28px;

 }

.SideBarWidget.right.active>div.toggle-button {
    background-image:none
    
 }

.sidebar-view h2 {
    margin-top: 50px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.sidebar-view .ui-list-view .ui-view {
    display: block;
    margin: 9px;
    margin-left: 20px;
    background-color: white;
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}


.sidebar-view .field-value-module {
    display: inline-block;
}

.sidebar-view button {
    float: right;
}



.show-documents{
    button.form-btn.primary-btn {
        background: darkcyan;
        border: none;
        color: white;
        padding: 3px 10px;
        font-size: 12px;
        box-shadow: 0 0 3px rgb(0 0 0 / 20%);
        color: white;
        border-radius: 3px;
        font-weight: 100;
        text-shadow: 0 0 5px rgb(0 0 0 / 50%);
    }
    
    .upload-btns span.document:after, .upload-btns button.document:after {
        white-space: nowrap;
        display: inline-block;
        margin: 0;
        margin-left: 10px;
    }
    
    span.document.noIcon:after, button.document.noIcon:after {
        background-color: #086c8c;
    }
    .upload-btns span.document:after, .upload-btns button.document:after {
        content: "Add document";
    }
    
    
    
    
    
}

span.audio.noIcon:after, button.audio.noIcon:after {
        background-color: #2695b9;
    }
.upload-btns span.audio:after, .upload-btns button.audio:after {
        content: "Add audio";
}

.upload-btns span.audio, .upload-btns button.audio{
    background-size: 100%;
    display: inline-block;
    text-align: right;
}


.focus-documents{

    .upload-btns span.image:after, .upload-btns span.video:after, .upload-btns span.audio:after,
    .upload-btns button.image:after, .upload-btns button.video:after, .upload-btns button.audio:after{
        padding:5px 10px;
        font-size:15px
    }
    
    .upload-btns span.video, .upload-btns span.audio,
    .upload-btns button.video, .upload-btns button.audio{
        display:none;
    }

}

.hide-input .text-input.with-1-line {
    visibility: hidden;
    height: 0;
}
.show-custom .text-input.one.with-1-line {
    height: 30px;
    visibility: visible;
}


button.form-btn.primary-btn, button.add-document, .btn-group-access button, button.other-btn {
    background-color: darkcyan;
    border: none;
    box-shadow: 0 0 3px rgb(0 0 0 / 20%);
    padding: 3px 7px;
    color: white;
    font-weight: 100;
    text-shadow: 0 0 5px rgb(0 0 0 / 50%);
    border-radius: 3px;
}

button.add-document, button.other-btn{
    padding: 5px 10px 7px;
    font-size:15px;
    color:black;
    margin:20px;
    text-shadow: none;
}

.btn-group-access button {
    margin-right: 5px;
}


.logos {
    height: 100px;
 
}

.logos .logo-1, .logos .logo-2 {
    background-image:url("https://sinixt.geoforms.ca/uploads-sinixt.geoforms.ca/user_files_1/Uploads/0AN_[G]_[ImAgE]_kBf_SzF.png?thumb=%3E200x%3E150");
    width:250px;
    height:100px;
    display:inline-block;
    background-size:contain;
    background-repeat:no-repeat;
    margin-left:50px;
    float:right;
    

}
.logos .logo-2 {
    transform:scale(1.5)   
}
.logos .logo-2 {
    background-image:url("https://sinixt.geoforms.ca/uploads-sinixt.geoforms.ca/user_files_1/Uploads/[ImAgE]_2iP_9Sp_DV8_[G].png?thumb=%3E200x%3E150");
}

.ui-view.selectable-layer.selected {
    background-color: rgb(143, 188, 143);
}


.ui-view.read-specialView:before, 
.ui-view.read-public:before, 
.ui-view.read-registered:before, 
.field-value-module.has-write:after,
.field-value-module.has-read:before, 
.field-value-module.is-user:before,
.field-value-module.is-admin:before{
    content: "\f06e";
    position: absolute;
    top:1px;
    right:3px;
    color: #bd3232;
    font-size: 10px;
    font-family: 'FontAwesome';
} 
.ui-view.read-public:before{
       content: "\f09c";
       color:#41c351
}

.ui-view.read-registered:before{
       content: "\f007";
       color:#969207
}
.search-bar-tab.has-overlay>span {
    
    font-size: 16px;
    padding-right: 35px;
}

.field-value-module.is-admin:before{
    content: "\f197";
    color:#6487ac;
}


.field-value-module.is-admin:before{
    content: "\f197";
    color:#6487ac;
}

.field-value-module.is-user:before{
    content: "\f2be";
}


.field-value-module.has-read:before, 
.field-value-module.is-user:before,
.field-value-module.is-admin:before{
    position: relative;
    width: 30px;
    display: inline-block;
    top: 0;
    right: 0;
    font-size: 17px;
}


.field-value-module.has-read:before, 
.field-value-module.is-user:before{
    color: #008a8a;

}




.field-value-module.has-read:before, 
.field-value-module.is-user:before,
.field-value-module.is-admin:before{
    right: unset;
    left: 4px;
    
}

.field-value-module.has-write:after{right: unset;left: 20px;}


span.timer {
    color: cornflowerblue;
}

button.primary-btn.add-document.edit-document {
    position: absolute;
    top: -12px;
    right: -9px;
    padding: 3px 7px;
}

button.primary-btn.reset-password.add-document {
    margin-left: 100px;
    background-color: #008a8a;
}


